body{
    margin:0 auto;
    background-color: #f8f8f8;
}

header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img{
    margin-top:15px;
    height:50px;
    padding-left: 40px;
}

.main{
    width:100%;
}

.confirm_box{
    margin:0 auto;
    border:lightgray solid 2px;
    width:600px;
    background-color: white;
    border-radius: 10px;
    margin-top:40px;
    margin-bottom: 40px;
    box-shadow:4px 4px 4px lightgray;
}

.confirm_contents{
    margin-top:30px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}

h2{
    text-align: center;
    border-bottom: 1px solid #31A263;
    padding-left: -10px;
    padding-right: -10px;
}

p{
    text-align: center;
}

.name{
    text-align: left;
    margin: 25PX;
}

.mail{
    text-align: left;
    margin: 25PX;
}

.password{
    text-align: left;
    margin: 25PX;
}

.picture{
    text-align: left;
    margin: 25PX;
}

.comments{
    text-align: left;
    margin: 25PX;
}

.Btn{
    text-align: center;
}

.submit_button{
    display: inline-block;
    border:1px solid lightgrey;
    padding:6px 10px 4px 10px;
    color:white;
    background-color: #31a263;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    width:140px;
    margin-bottom: 15px;
}

.button1{
    display: inline-block;
    border:1px solid lightgray;
    padding:6px 10px 4px 10px;
    color:white;
    background-color: lightgray;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    width:120px;
    margin-bottom: 14px;

}

.button1 a{
    text-decoration: none;
}

.button1 a:link{
    color: white;
}

.button1 a:visited{
    color: white;
}

.button2{
    display: inline-block;
}

footer{
    width: 100%;
    height:40px;
    background-color: white;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgray solid 2px;
}